<a href="/">首页</a>
<a href="/note">课程笔记</a>
<a href="/book">推荐书目</a>
<a href="/about">留言板</a>

<style>
    a{
        color: aliceblue;
        text-decoration: none;
        margin-right: 2cm;
        margin: 20px auto;
    background-color: #432576;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    flex-direction: column;
    }
</style>